@model Skill

<h2>Create new Skill</h2>
@Html.ActionLink("Cancel", "Index", "Home")
<hr />
@using (Html.BeginForm("CreateSkill", "Skills"))
{
    @Html.LabelFor(s => s.Name)<br />
    @Html.TextBoxFor(s => s.Name)
    <hr />

    @Html.LabelFor(s => s.Description)<br />
    @Html.TextAreaFor(s => s.Description)
    <hr />

    <button type="submit">Create</button>
}