@model List<Skill>

<h2>Skills</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Display name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var skill in Model)
        {
            <tr>
                <td>@skill.Name</td>
                <td>@skill.Description</td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Home", "Index", "Home") | 
@Html.ActionLink("Experiences", "Index", "Experiences") | 
@Html.ActionLink("Education", "Index", "Education") | 
@Html.ActionLink("Activities", "Index", "Activities")