@model List<Skill>

<h2>Skills</h2>
<hr />
@Html.ActionLink("Add new Skill", "Create", "Skills")
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Display name</th>
            <th>Description</th>
            <th></th> <!-- This column holds action links -->
        </tr>
    </thead>
    <tbody>
        @foreach (var skill in Model)
        {
            <tr>
                <td>@skill.Name</td>
                <td>@skill.Description</td>
                <td>@Html.ActionLink("Delete", "DeleteSkill", "Skills", skill, null)</td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Home", "Index", "Home") | 
@Html.ActionLink("Experiences", "Index", "Experiences") | 
@Html.ActionLink("Education", "Index", "Education") | 
@Html.ActionLink("Activities", "Index", "Activities")